@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main-heading{
    /*font-family: 'Inter', sans-serif;*/
    font-style: italic;
    color: grey;
}
.leftside-heading-text{
    /*fontSize="small" color="grey"*/
    font-size: small;
    color: grey;
    /*font-family: 'Inter', sans-serif;*/
}
.pp-leftside-heading-text{
    padding-left: 35px;
    font-size: small;
    color: grey;
    margin: 0;
    /*font-family: 'Inter', sans-serif;*/
}
.upper-div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logIn-button{
    cursor: pointer;
    color: #fff;
    margin: 8px 22px;
    padding: 10px;
    background: #bc0000;
    transition: all 0.5s ease;
    border: 1px solid #bc0000;
}
.bussiness-url{
    cursor: pointer;
    margin-left: 5px;
    /*text-decoration: underline;*/
    color: blue;
}
.bussiness-url:hover{
    color: #bc0000;
}
.detail-bussiness-url{
    cursor: pointer;
    margin-left: 5px;
    /*text-decoration: underline;*/
    color: blue;
}
.new_customer-btn{
    color: #b0b0b0;
    margin: 0;
    cursor: pointer;
    font-size: small;
    padding-right: 10;
}
.centered-text {
    text-align: center;
    color: black;
    font-size: 24px;
}

.icons {
    display: flex;
}

.icons a {
    margin: 0 10px;
    text-decoration: none;
}

.lower-div {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 10px;
}

.hamburger {
    font-size: 24px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #003566;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

body{
    margin: 0px;
    font-family: Arial, sans-serif !important;
}

.search-placeholder{
    border: none;
    padding: 5px;
    background: #F1F1F1;
    width: 325px;
    color: #000;
}
.middlebar_search-placeholder{
    border: none;
    padding: 5px;
    background: #F1F1F1;
    width: 325px;
    color: #000;
    margin-left: 30px;
    outline: none;
}
.search-placeholder:active , .search-placeholder:focus{
    border: none;
    outline: none;
}
.search-placeholder_mobile{
    border: none;
    padding: 5px;
    background: white;
    width: 325px;
    color: #ADADAD;
}
.logIn-btn{
    border: none;
}
.blue-text{
    color: #2E5BA5;
    font-weight: bold;
    font-size: 18px;
}
.product-box{
    width: 100%;
    cursor: pointer;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.middlebar-res{
    display: flex;
}
.left-row{
    width: 290px;
}
/*.product-listing-left-row{*/

/*}*/
.red-btn{
    background: #bc0000;
    border: 1px solid #bc0000;
    color: white;
    padding: 3px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.red-btn:hover{
    background: #fff;
    border: 1px solid #bc0000;
    color: #bc0000;
}
.foot-text:hover{

    cursor: pointer;
    /*text-decoration: underline;*/
}
.product-red-btn{
    border-color: #bc0000;
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 6px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease;
}
.product-red-btn:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
}
.middlebar_red-btn{
    background: linear-gradient(180deg,#c00000,#c00000 0,#a00000 100%,#a00000 0);
    border: 1px solid #bc0000;
    color: #fff;
    padding: 3px 15px;
    margin-left: 10px;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.middlebar_red-btn:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.genuine-parts-heading{
    color: #2E5BA5;
    font-weight: 700;
    position: absolute;
    top: -190px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4px;
}
.genuine-parts-para{
    position: absolute;
    top: -110px;
    color: black;
    padding: 0px 217px;
    text-align: center;
    /*font-family: "Roboto";*/
    line-height: 1.5;

}
.image-container {
    position: relative;
    width: 100%;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    );
    z-index: 1;
    pointer-events: none;
}
.models-button{
    background: white;
    color: black;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    width: 270px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s ease;
}
.models-button:hover{
    background: #bc0000;
    color: white;
}
.acsry-models-button{
    background: white;
    color: black;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    width: 250px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s ease;
}
.acsry-models-button:hover{
    background: #bc0000;
    color: white;
}
.wholesale-heading{
    color: #2E5BA5;
    font-weight: 700;
    position: absolute;
    top: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4px;
}
.wholesale-para{
    position: absolute;
    top: 100px;
    color: black;
    padding: 0px 217px;
    text-align: center;
    line-height: 1.5;
}
.footer-padding{
    padding: 0px 15px;
}
.leftside-heading{
    /*font-family: 'Inter', sans-serif;*/
    display: flex;
    align-items: center;
    margin-bottom: 4px;

}
.pp-leftside-heading{
    color: #627392;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.vm-leftside-heading{
   padding: 8px;
    margin-bottom: 4px;
    background: #e0e0e0;
    font-weight: 700;
    margin: 0;
}
.vm-leftside-box{
    padding: 10px;
    cursor: pointer;
}
.vmm-leftside-box{
    padding: 10px;
}
.vm-leftside-box:hover{
    color: #bc0000;
}
.success-leftside-box{
    font-size: small;
    color: grey;
    padding: 10px;
    cursor: pointer;
}
.success-leftside-box:hover{
    color: #bc0000;
}
.success-leftside-link{
    text-decoration: none;
}
.success-leftside-link:hover{
    color: #bc0000;
}
.detail-rightside-upperbox{
    padding: 10px;
}
.breadcrum-ol{
    font-size: 14px;

}
.chakra-breadcrumb__list{
    padding: 0px;
}
.breadcrum{
    padding: 0px 15px;
}
.section-headings{
    margin-left: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 4px;
}
.Vm-top-section{
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.Vm-middle-section{
    width: 80%;
    margin: 20px 160px;
    border: 1px solid #bc0000;
    display: block;
}
.productDetail-middle-section{
    width: 80%;
    margin: 10px 160px;
    border: 1px solid #bc0000;
    display: block;
}
.middle-section-topbar{
    background: #333;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 0;
}
.middle-section-middlebar{
    background: #a0d0fc;
    color: #333;
    font-weight: bold;
    padding: 0px 15px;
}
.middle-section-endbar{
    background: #c8e8fc;
    color: #333;
    font-weight: bold;
    padding: 0px 15px;
}
.Vm-top-section-img1{
    height: 195px;
    margin-right: 5px;
}
.Vm-top-section-img2{
    height: 195px;
    margin-right: 5px;
}
.see-more{
    margin-left: 20px;
    /*text-decoration: underline;*/
    color: blue;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
}
.see-more:hover{
    color: #bc0000;
}
.change-vehicle{
    margin-left: 25px;
    /*text-decoration: underline;*/
    color: blue;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.change-vehicle:hover{
    color: #bc0000;
}
.leftside-image{
    width: 28px;
    height: 25px;
    margin-right: 10px;
}
.productblock-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-left: 25px;
}
.acsry-productblock-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: repeat(5,1fr);
    margin-left: 25px;
}
.productdetail-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: repeat(6,1fr);
    margin-left: 7px;
}
.ppdetail-grid{
    padding: 0px 5px;
    /*margin-top: 20px;*/
    grid-template-columns: repeat(5,1fr);
    margin-left: 7px;
}
.list-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
}
.success-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: 20% 80%;
}
.policy-grid{
    padding: 0px 5px;
    grid-template-columns: repeat(1,1fr);
}
.detail-grid{
    padding: 0px 5px;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
}
.grid-product_box{
    text-align: center;
}
.pp-grid-product_box{
    text-align: left;
}
.images-product_box{
    width: 130px;
    height: 95px;
    /* margin-bottom: 4px; */
    margin-top: 15px;
    opacity: 1;
    transition: all 0.4s ease;
}
.pp-images-product_box{
    width: 95px;
    height: 60px;
    /* margin-bottom: 4px; */
    margin-top: 15px;
    opacity: 1;
    transition: all 0.4s ease;
    border: 1px solid grey;
    padding: 5px;
}
.images-product_box:hover{
    opacity: 0.5;
}
.title-product_block{
    margin-top: 5px;
    color: #E52222;
}
.pp-title-product_block{
    margin-top: 5px;
    color: #4068b0;
    font-size: 14px;
    font-weight: 600;
}
.title-product_block:hover{
    color: #333;
}
.pp-title-product_block:hover{
    color: #bc0000;

}
.header{
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #E6E5E5;
}

.logo-img{
    height: 55px;
}
.car{
    margin-right: 3px;
    margin-left: 8px;
    margin-top: 2px;
    width: 25px;
    height: 20px;
}
.select-vehicle-btn{
    padding: 5px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
}
.sub-header{
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: #F1F1F1;
}
.mobile-header{
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*padding: 10px 60px;*/
    background: white;
}
.search-by-category{
    display: flex;
    align-items: center;
}
.search-by-category-text{
    /*fontWeight="600" color="#2E5BA5"*/
    font-weight: 600;
    color: #000 ;
    font-size: 18px;
    margin: 0px;
}
.sub-header-links{
    /*textDecoration="none"  color="black"*/
    text-decoration: none;
    color: #2E5BA5;
    cursor: pointer;
    font-weight: 500;
    margin-right: 40px;
}
.sub-header-links:hover {
    color: #bc0000;
}
.scrollable-menu {
    max-height: 200px; /* Set the maximum height you prefer */
    overflow-y: auto;
}
.right-subheader-img{
    width: 23px;
    height: 23px;
    margin-right: 7px;
}
.right-subheader-img_mobile{
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.sub-header-rightlinks{
    /*textDecoration="none"  color="black"*/
    text-decoration: none;
    color: #E52222;
    cursor: pointer;
    font-weight: 500;
}
.sub-header-rightlinks:hover{
    color: #2E5BA5;
    /*text-decoration: underline;*/
}
.vehicle-list{
    margin-left: 10px;
}
.remember-me-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.round-checkbox {
    display: none;
}

.round-checkbox + span {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    border: 2px solid #000; /* Border color */
    border-radius: 50%; /* Make the checkbox round */
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; /* Adjust the spacing as needed */
}

.round-checkbox:checked + span {
    background-color: cornflowerblue; /* Checked background color */
    padding: 3px;
}
.no-vehicles{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background: #fff;
    cursor: pointer;
}
.no-vehicles:hover{
    background: #F0F0F0;
}
.vehicle-list-box{
    align-items: center;
    margin-bottom: 5px;
    padding: 1px 10px;
    display: flex;
    justify-content: space-between;
}
.add-new-vehicle{
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
    background: #333;
}
.add-new-vehicle:hover{
    color: #333;
    background: #fff;
    border: 1px solid #333;
}
.modalContent{
   padding: 150px 250px;
    background-color: rgba(0,0,0,.45);

}
.modalBody{
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
}

.clear-all{
    color: #b0b0b0;
    margin: 0;
    cursor: pointer;
    font-size: small;
    padding-right: 10px;
}
.mobile_sub-header-rightlinks{
    /*textDecoration="none"  color="black"*/
    text-decoration: none;
    color: #E52222;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
.mobile-header-rightlinks{
    text-decoration: none;
    color: #2E5BA5;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-right: 0px;
}
.mobile-header-top{
    background: white;
    justify-content: center;
    padding: 5px 8px;
}
.find-parts-btn{
    background: #202020;
    color: white;
    padding: 3px 15px;
    position: static !important;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease; /* Add the transition property */
}
.find-parts-btn:hover{
    background: #fff;
    color: #202020;
}
.mobile_find-parts-btn{
    background: #202020;
    color: white;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
}
.mobile-header-middle{
    background: #F0F0F0;
    padding: 5px;
    border: 1px solid lightgrey
}
.mobile-header-div{
    justify-content: space-between;
    padding: 0px 15px;

}
.search-bar-mobile{

    background: #F1F1F1;
    padding: 5px;
    border: none ;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
}
.topsection-input{
    width: 100%;
    text-align: left;
    padding: 5px;
    background: white;
    border: 1px solid grey;
    margin-bottom: 4px;
}

.endbar-topsection-input{

    text-align: left;
    padding: 5px 25px;
    background: linear-gradient(180deg,#fff,#f0f0f0);
    border: 1px solid grey;
    margin-bottom: 4px;
    margin-left: 30px;
}
.endbar-topsection-input2{
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    text-align: left;
    padding: 5px 25px;
    margin-bottom: 4px;
    margin-left: 15px;
    background: linear-gradient(180deg,#fff,#f0f0f0);
}
.topsection-input_lowerpart{
    width: 100%;
    text-align: left;
    padding: 10px;
    background: white;
    border: 1px solid grey;
    margin-bottom: 4px;
}
.topsextion_heading1{
    width: 50%;
    background: #D3EAFF;
    padding: 3px 25px;
}
.topsextion_heading2{
    width: 50%;
    background: #DCF2FF;
    padding: 3px 25px;
    position: relative;
}
.topsection-container{
    display: flex;
    border: 2px solid #2E5BA5 ;
    position: static;
    height: 236px;
    /*z-index: -1;*/
}
.mobile_topsection-container{
    display: flex;
    border: 2px solid #2E5BA5 ;
    position: static;
    height: 220px;
    /*z-index: -1;*/
}
.or-image{
    position: absolute;
    top: -7px;
    left: -25px;
    color: #2E5BA5;
    border: 5px solid #003566;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
}
.carousel .thumbs-wrapper{
    display: none;
}
.footer-lower{
    /*bg='#F1F1F1' padding="10px 0px" color='black'*/
    background: #F1F1F1;
    padding: 25px 0px;
    color: black;

}
.footer-lower_mobile{
    /*bg='#F1F1F1' padding="10px 0px" color='black'*/
    background: #F1F1F1;
    padding: 25px 20px;
    color: black;
    font-size: 9px;

}
.carousel.carousel-slider{
    height: 270px;
}
.footer_images-bottom{
    width: 70px;
    margin-right: 5px;
}
.pp-images{
    width: 70px;
    margin-right: 5px;
}
.pay-later-image{
    width: 15px;
    margin-right: 5px;
}
.pp-pay-later-image{
    width: 13px;
    margin-right: 5px;
}
.footer_images-bottom_mobile{
    width: 70px;
    margin-right: 5px;
}
.footer_images-top{
    width: 150px;
    margin-right: 10px;
}
.box-one-text{
    /*mt={50} textAlign="center" fontSize="sm" color="gray.500"*/
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}
.main-padding{
    margin-top: 40px;
    padding: 0px 150px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
}
.success-padding{
    margin-top: 40px;
    padding: 0px 150px;
}
.cart-padding{
    margin-top: 40px;
    padding: 0px 150px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.topSection_main-padding{
    /*mt={40} padding="0px 150px"*/
    margin-top: 40px;
    padding: 0px 150px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: 60% 40%;
    gap: 6px;

}
.section-first{
    /*w='100%' h='10' bg='blue.500'*/
    width: 100%;
 order: 1;
}
.modal-section-first{
    /*w='100%' h='10' bg='blue.500'*/
    width: 600px;

}
.chakra-modal__close-btn{
    width: 25px;
    border-radius: 50%;
    padding: 10px 18px;
    background: transparent;
    color: #a0d0fc;
    position: absolute;
    right: 210px;
    top: -2px;
    border: none;
    cursor: pointer;
}
.section-second{
    /*w="100%" h={264} position="relative"*/
    width: 100%;
    position: relative;
    order: 2;
}
.top-section-padding{
    /*mt={40} padding="0px 150px"*/
    margin-top: 40px;
    padding: 0px 150px;
    /*templateRows='repeat(1, 1fr)'*/
    /*templateColumns='repeat(5, 1fr)'*/
    /*gap={4}*/
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
}
.header-select-vehicle{
    margin: 0px;
}
.header-right-box-text{
    /*color="#939393" fontWeight="semibold"*/
    color: #000;
}
.margin-between-boxes{
    margin-right: 35px;
}
.grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
/* Define specific styles for individual items */
.item:nth-child(1) {
    grid-column: span 2;
}

.item:nth-child(2) {
    grid-column: span 3;
}

.item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

.item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

.item:nth-child(5) {
    grid-row: span 2;
}
.list-grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
}
.p-grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 20% 80%;
}
.mobile-header{
    display: none !important;
}
.mobile-footer{
    display: none !important;
}
.mobile-footer-ul{
    margin: 5px;
    list-style-type: none!important;
    color: grey;
    font-size: 14px;
}
.model-rows{
    /*templateColumns="repeat(4, 1fr)"*/
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.mobile-topsection-lowerpart{
    width: 90%;
    margin-top: 20px;
    padding: 5px 20px;
}
.mobile-VM-topsection-lowerpart{
    width: 90%;
    margin-top: 20px;
    padding: 5px 20px;
    display: none !important;
}
.top-section_main-padding{
    background: #003566;
    color: white;
    text-align: left;
    margin: 0px;
    padding: 5px 8px;

}
.topsection-input_mobile{
    width: 95%;
    padding: 10px 5px;
    margin-top: 15px;

}
.mobile_topsection-button{
    width: 50%;
    background: #D3EAFF;
    padding: 10px;
    border-left: 2px solid #2E5BA5;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 12px;
}
.mobile_topsection-button2{
    padding: 10px;
    width: 50%;
    background: #DCF2FF;
    border: 2px solid #2E5BA5;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 12px;
}
.main-top-section{

}
.mobile-top-section{
    display: none!important;
}
.model-section_mainPadding{
    padding: 80px;
}
.adds-text{
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
}
.menu-item {
    padding: 8px;
    width: 200px !important;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.tooltip-subheader{
    background: white;
    border: 1px solid #F0F0F0;

    width: 400px;
    height: 150px;
}
/*//////SignUp//////*/
.account-below_text{
    margin: 0px;
    font-size: small;
    font-weight: 400;
    color: #939393;
}
.bussines-second-heading{
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    color: #939393;
}
.signUp-box{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}
.bussiness-box{
    display: flex;
    justify-content: center;
    padding: 25px 50px
}
.shipping-box{
    display: flex;

}
.tracking-box{
     padding: 25px 50px
}
.returning-form{
    border: 1px solid #dededb;
    padding: 25px 25px;
    width: 300px;
}
.returning-form2{
    border: 1px solid #dededb;
    padding: 25px 25px;
    width: 304px;
}
.bussiness-form{
    border: 1px solid #dededb;
    padding: 25px 25px;
    width: 800px;
}
.shipping-form{
    border: 1px solid #dededb;
    padding: 25px 25px;
    width: 620px;
}
.track-form{
    border: 1px solid #dededb;
    padding: 25px 25px;
    width: 650px;
}

.forms-box{
    display: inline-flex;
    justify-content: space-between;
}
.track-forms-box{
    justify-content: space-between;
}
.returning-heading{
    margin: 0;
    border-bottom: 1px solid #dededb;
    font-weight: bold;
    color: #4068b0;
    padding-bottom: 7px;
}
.track-heading{
    margin: 0;
    border-bottom: 1px solid #dededb;
    font-weight: bold;
    font-size: 22px;
    color: #333;
    padding-bottom: 7px;
}
.box1{
    padding: 5px 100px;
    border-right: 1px solid #dededb;
}
.box2{
    padding: 5px 100px;
}
.bussiness-box1{
    padding: 5px 100px;
}
.returning-input{
    padding: 8px 5px;
    width: 290px;
    margin-top: 3px;
    border: 1px solid #dededb;

}
.bussiness-input{
    padding: 8px;
    width: 245px;
    margin-top: 3px;
    border: 1px solid #dededb;
}
.track-input{
    padding: 8px 0px;
    width: 250px;
    margin-top: 3px;
    border: 1px solid #dededb;
}
.bussiness-input2{
    padding: 8px ;
    width: 379.5px;
    margin-top: 3px;
    border: 1px solid #dededb;

}
.returing-label{
    color: #333;
    font-size: small;
}
.returning-checkbox{
    margin-top: 20px;
    justify-content: space-between;
}
.bussiness-checkbox{
    margin-top: 20px;
    justify-content: flex-end;
}
.returning-button{

    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 5px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #bc0000;
    transition: all 0.5s ease; /* Add the transition property */
}
.returning-button:hover {
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.bussiness-acct-button{
    border-color: #bc0000;
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 5px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease; /* Add the transition property */
}
.bussiness-acct-button:hover {
    color: #bc0000;
    background: white;

    border: 1px solid #bc0000;
}
.track-button{
    border-color: #bc0000;
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 6px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease; /* Add the transition property */
}
.track-button:hover {
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.logIn-button:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.account-button{
    border: 1px solid #bc0000;
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 5px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease; /* Add the transition property */
}
.account-button:hover {
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.remember-me-checkbox{
    font-size: small;
    align-items: center;
}
.menu-show{
    display: none !important;
}
.list-heading{
    padding: 5px 30px;
    background: #bc0000;
    font-weight: 600;
    color: white;
    width: fit-content;
    margin: 0;
}
.detail-heading{
    padding: 5px 30px;
    font-weight: 600;
    color: black;
    width: fit-content;
    margin: 0;
}
.pp-question{
    margin: 0;
    font-weight: bold;
}
.pp-question2{
    margin: 0;
}
.pp-lower-para{
    font-size: 14px;
}
.ask-btn{
    background: linear-gradient(-180deg,#fff,#fff 0,#f0f0f0 100%,#f0f0f0 0);
    border: 1px solid #d0d0d0;
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin: auto;
    padding: 15px 30px;
    width: 117px;
    cursor: pointer;

}
.pp-answer{
    margin: 0;
    font-size: 13px;
    color: #757575;
}
.grey-line{
    border-bottom: 1px solid #b0b0b0;
}
.pp-detail-heading{
    padding: 5px 30px;
    font-weight: 600;
    color: black;
    width: fit-content;
    margin: 0;
}
.list-category{
    margin: 0;
    padding: 5px 25px;
    cursor: pointer;
    align-items: center;
    display: flex;
}
.category-list-item{
    color: #406cc8;
    display: block;
    padding: 5px 0;
    white-space: normal;
    border-bottom: 1px dotted #d0d0d0;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease; /* Add the transition property */
}
.category-list-item:hover{
    font-size: 18px;
    /*font-weight: 700;*/
    background-color: #f5f5f5;
}

.sub-header .chakra-collapse>div{
    z-index: 9999;
}
.Product-listing-breadcrum{
    padding: 0px 150px;
}
.policy-breadcrum{
    margin-left: 10px;

}
.Product-listing-heading{
    padding: 0px 150px;
}
.Product-detail-heading{
    padding: 0px 160px;
}
.Product-detail-heading{
    padding: 0px 160px;
}
.Product-listing-heading-span{
    color: #606060;
    display: block;
    font-size: 15px;
    font-weight: 200;
}
.list-category-box{
    padding: 10px 15px;
    border: 1px solid #bc0000;
}
.policy-normal-text{
    font-weight: 100;
    line-height: 1.4;
    font-size: 15px;
}
.policy-left-row{
    display: block !important;
}
.policy-heading{
    margin: 0;
    display: flex;
    justify-content: center;
}
.policy-box{
    padding: 40px 60px;
    border: 1px solid #d0d0d0;
}
.chakra-select__icon-wrapper{
    display: none !important;
}
.bussiness-select{
    width: 799px;
    border-radius: 3px;
    padding: 10px 14px;
    margin-top: 3px;
    border: 1px solid #dededb;
}
.bussiness-select option{
    padding: 15px;
}
.text-below-box{
    color: #757575;
    font-size: small;
    line-height: 1.33;
    margin: 0;
    padding: 0px 160px;
}
.productDetail-main-box{
    margin: 10px 150px;

    border-top: 1px solid #d0d0d0;
}
.pp-productDetail-main-box{
    margin: 10px 150px;
}
.productDetail-innerbox{
    border-bottom: 1px solid #d0d0d0;

    padding: 20px 50px;
    margin: 20px 0px;
    padding: 25px;
}
.pp-productDetail-innerbox{
    padding: 20px 50px;
    margin: 20px 0px;
    padding: 25px;
}
.productDetail-box1{
    width: 20%;
    align-items: center;

}
.pp-box1{
    width: 20%;
    align-items: center;

}
.detail-box2-title{
    color: #285090;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
}
.pp-box2-title{
    color: #000;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
}
.pp-box2-heading1{
    border-bottom: 1px dotted #d0d0d0;
    color: #757575;
    font-size: 13px;
    padding: 4px 8px;
}
.pp-box2-heading2{
    color: #757575;
    font-size: 13px;
    padding: 4px 8px;
}
.productDetail-box2{
    width: 30%;
}
.pp-box2{
    width: 30%;
    padding: 0px 40px;
}
.detail-box2-partno{
    color: #285090;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.5s ease; /* Add the transition property */
}
.detail-box2-partno:hover{
    /*text-decoration: underline;*/
}
.vs-btn {
    background-color: #d0d0d0;
    border: none;
    border-radius: 5px;
    color: #505050;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.product-price{
    color: #c62828;
    font-size: 18px;
    font-weight: 700;
}
.pp-price{
    color: #c62828;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.product-price-span{
    color: grey;
    font-size: 14px;
    font-weight: 200;
    margin-left: 10px;
}
.save-price{
    color: #109050;
}
.pp-save-price{
    color: #109050;
    font-size: 12px;
}
.pp-input-num{
    width: 30px;
}
.check-fit-btn{
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 7px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: linear-gradient(180deg,#f0f0f0,#f0f0f0 0,#e0e0e0 100%,#e0e0e0 0);
    border: 1px solid #d0d0d0;
    color: #486090;
}
.center-or-text{
    color: grey;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}
.add-to-cart-btn{
    width: 100%;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 7px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: linear-gradient(180deg,#c00000,#c00000 0,#a00000 100%,#a00000 0);
    border: 1px solid #bc0000;
    color: #fff;
    transition: all 0.5s ease; /* Add the transition property */
}
.continue-btn{

    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 7px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: linear-gradient(180deg,#c00000,#c00000 0,#a00000 100%,#a00000 0);
    border: 1px solid #bc0000;
    color: #fff;
    transition: all 0.5s ease; /* Add the transition property */
}
.pp-cart-btn{
    width: 100%;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 7px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: linear-gradient(180deg,#c00000,#c00000 0,#a00000 100%,#a00000 0);
    border: 1px solid #bc0000;
    color: #fff;
    transition: all 0.5s ease; /* Add the transition property */
}
.add-to-cart-btn:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.pp-cart-btn:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.continue-btn:hover{
    color: #bc0000;
    background: white;
    /*font-weight: 600;*/
    border: 1px solid #bc0000;
}
.paypal-btn{
     width: 100%;
     align-items: center;
     border-radius: 4px;
     cursor: pointer;
     display: flex;
     font-size: 14px;
     font-weight: 100;
     justify-content: center;
     line-height: 1;
     outline: none;
     padding: 7px 15px;
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
     background: #ffc439;
     border: 1px solid #ffc439;
    transition: all 0.5s ease; /* Add the transition property */
}
.paypal-btn:hover{
    background: #fff;
    border: 2px solid #ffc439;
    color: #ffc439;
}
.pp-table-box{
    width: 60%;
    padding: 0px 150px;
}
.pp-table-box2{
    width: 60%;
    padding: 0px 150px;
}
.estimate-btn{
    width: 100%;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 100;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 17px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease; /* Add the transition property */

}
.estimate-div{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    background: #fff;
}
.estimate-div-inbtn{
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
.pp-table{
    margin-left: 26px;
}
.pp-table2{
    margin-left: 26px;
}
.pp-td1{
    background: #eff0f0;
    padding: 10px;
    text-align: left;
    width: 166px;
    font-size: 14px;
    border-top: 1px solid #b0b0b0;
}
.pp-td3{
    background: #eff0f0;
    padding: 7px;
    text-align: left;
    width: 240px;
    font-size: 14px;
    border-top: 1px solid #b0b0b0;
}
.pp-td2{
    padding: 0px 10px;
    border-top: 1px solid #b0b0b0;
}
.pp-td4{
    padding: 8px 10px;
    border-top: 1px solid #b0b0b0;
    font-size: 13px;
}
.productDetail-box2-flex{
    /*justifyContent="space-between" alignItems="center"*/
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.product-price-box{
    padding: 0px 25px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pp-price-box{
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #b0b0b0;
    width: 250px;
}
.shipping-price-box{
    padding: 10px;
    position: absolute;
    top: 232px;
    right: 10px;
    border: 1px solid #b0b0b0;
    width: 250px;
}
.payment-price-box2{
    padding: 10px;
    position: absolute;
    top: 275px;
    right: 10px;

    width: 250px;
}
.payment-price-box{
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 10px;
    border: 1px solid #b0b0b0;
    width: 250px;
}
.pp-price-box2{
    padding: 10px;
    position: absolute;
    top: 270px;
    right: 0px;
    width: 250px;
}
.productDetail-box1-img{
    height: 100px;
}
/*/////////Cart///////////*/
.detail-cartbox-show{
    display: none !important;
}
.cart-main-padding{
    padding: 0px 150px;
    /*templateColumns="80% 20%"*/
    grid-template-columns: 80% 20%;
}
.cart-box-heading{
    background: #dfdfdf;
}
.cart-box-image{
    padding: 10px;
    border: 1px solid black;
    margin-top: 8px;
}
.quatity-box{
    padding: 15px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.cart-mainbox-head2{
    padding: 3px;
    width: 250px;
    margin: 0;
}
.cart-mainbox-desc{
    padding: 3px;
    width: 250px;
    margin: 0;
    margin-left: 55px;
}
.cart-mainbox-head3{
    padding: 3px;
    width: 150px;
    margin: 0;
}
.cart-mainbox-head4{
    padding: 3px;
    width: 150px;
    margin: 0;
}
.cart-mainbox-head5{
    padding: 3px;
    width: 150px;
    margin: 0;
}
.cart-mainbox-span{
    margin-top: 5px;
    font-size: 12px;
}
.detail-bottom-heading{
    color: grey;
    font-size: 16px;
    font-weight: bold;
}
.detail-bottom-para{
    line-height: 1.5;
    color: grey;
    font-size: 16px;
    font-weight: 100;
}
.detail-rightside-heading{
    padding: 8px;
    font-weight: 700;
    margin: 0;
    font-size: 22px;
}
.items-listr {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    gap: 0px; /* Adjust the gap between items as needed */
}

.itemr {
    /*border: 1px solid #ccc;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*background-color: #f5f5f5;*/
    font-size: 15px;
}
.account-sectionbox{
    margin-top: 10px;
    border: 1px solid #d0d0d0;
     padding: 5px 30px;
    margin-left: 25px;
}
.account-inner-box{
    display: flex;
    justify-content: space-between;
}
.account-edit-btn{
    border-color: #d0d0d0;
    background: linear-gradient(180deg, #f8f8f8 0%, #f8f8f8 0%, #e8e8e8 100%, #e8e8e8 100%);
    color: #333;
    padding: 3px 28px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.form-box-width{
    width: 600px;
}
.acctSet-inputbox{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.acctSet-butbox{

    margin: 10px 10px 10px 125px;
    display: flex;
    justify-content: center;
}
.main-nav-li:hover{
    color: #bc0000;
    cursor: pointer;
}
.main-nav-li{
    font-size: 16px;
    margin-top: 22.5px;
    margin-left: 10px;
}
.HamburgerIcon{
    cursor: pointer;
}
.foot-text{
    /*textDecoration="none" color="black".*/
    text-decoration: none;
    color: black;
    margin-top: 12px;
    display: block;
}
.horizontal-listbox{
    display: flex;
    padding: 0px 30px;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}

.pp-horizontal-listbox{
    display: flex;
    padding: 0px 30px;
    position: relative;
}
.pp-horizontal-listmenu{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.horizontal-listmenu{
    cursor: pointer;
}
.body-opacity-06 {
    opacity: 0.6;
}

.menu-opacity-1 {
    opacity: 1;
}
.pp-box1-img{
    height: 130px;
}
.pp-box1-simg{
    height: 45px;
    border: 1px solid #b0b0b0;
    padding: 10px;
}
.abc{
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    /*display: none;*/
    transition: all 0.3s ease-in-out;

}
.visible {
    /*display: block;*/
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    left: 0;
}

.hidden {
    /*display: none;*/
    transition: all 0.3s ease-in-out;
    opacity: 0;
    left: -100vw;
}
.orange-bar{
    position: absolute;
    bottom: -2px;
    height: 4px;
    background-color: #f97601;
    transition: left 200ms;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    left: 0px;
}
.pp-orange-bar{
    position: absolute;
    bottom: -2px;
    height: 4px;
    background-color: #bc0000;
    transition: left 200ms;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    left: 0px;
}
.pp-row{
    border-top: 1px solid #b0b0b0;
}
.pp-row2{
    border-top: 1px solid #b0b0b0;
}
.acc-banner{
    padding: 0px 150px;
    position: relative;
}
.acc-banner img{
    height: 235px;
    width: 100%;
    margin-left: 10px;
}
.acsry-text-bottom{
    padding: 0px 150px;
    color: #606060;
    font-size: 14px;
}
.my-account-dash{
    display: flex;
    align-items: center;

}
.my-account-dash1{
    display: flex;
    align-items: center;
}
.my-account-dash2{
    display: flex;
    align-items: center;

}
.my-account-dash img {
    height: 40px;
}
.my-account-dash1 img{
    height: 30px;
}
.my-account-dash2 img{
    height: 25px;
}
.my-account-dash span{
    /*margin-right: 10px;*/
    color: #939393;
}
.my-account-dash1 span{
    /*margin-right: 10px;*/
    color: #939393;
}
.my-account-dash2 span{
    /*margin-right: 10px;*/
    color: #939393;
}
.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
}

.dash-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.dash-icon {
    margin-right: 10px;
    margin-left: 20px;
}

.dash-icon img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.dash-text {
    text-align: center;
}
.logout-text{
    padding: 5px 30px;
    background: #f0f0f0;
    border: 1px solid #b0b0b0;
    color: #333;
    text-align: center;
    cursor: pointer;
}
.product-list-div {
    position: absolute;
   background: black;
   height: 200px;
   width: 200px;
 }
 .sub-mod-innerbox{
    display: flex;
    /* justify-content: space-between; */
    padding: 5px 15px;
    align-items: center;
 }
 .sub-mod-box{
    overflow: auto;
    padding: 5px 15px;
    position: relative;
    width: 100%;
    cursor: pointer;

 }
 .sub-mod-head{
    color: #333;
    font-size: 14px;
    font-weight: 600;
 }
 .sub-mod-innerbox-img{
    padding: 10px;
    border: 1px solid #505050;
 }
 .sub-mod-innerbox-text{
    margin: 0;
    color: #333;
    font-size: 15px;
 }
 .shipping-top-list{
    display: flex;
 }
 .shipping-top-list-li{

    background: #f8f8f8;
    padding: 10px 70px;
    cursor: pointer;
 }
 .shipping-top-list-li:hover{
    background: gray;
    color: white;
 }
 .shipping-top-list-text{
    margin: 0;
 }
 .shipping-pp-box2{
    padding: 0px 5px;

 }
 .box{
    width: 50%;

 }
 .boxOne{
    width: 50%;

 }
 .boxTwo{
    width: 50%;

 }
 .optional{
    color: black;
    font-weight: 100;
    font-size: 15px;
 }
 .sweet-loading{
    display: flex;
    justify-content: center;
 }
/*//////////NAVBAR////////////*/
/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: -250px; /* Start off-screen */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
}

.navbar.open {
    left: 0; /* Slide in when open */
}

.hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.main-nav {
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    color: #000;
    background: #fff;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: translate(0px, 0px);
}

.main-nav-ul-top {
    list-style: none;
    padding: 20px 0px;
    margin-top: 1px;

    color: #b00000;
    font-weight: 600;
    border-bottom: 1px solid #d0d0d0;
}
.pp-box{
    padding: 0px 150px;
}
.pp-innerbox{
    display: flex;
    align-items: center;
    background: #f0f0f0;
    /*width: max-content;*/
}
.pp-innerbox-text{
    color: #c89010;
    font-size: 14px;
    font-weight: 700;

}
.pp-checkbtn{
    background: linear-gradient(180deg,#fefefe 0,#f0f0f0);
    border: 1px solid #b0b0b0;
    padding: 8px 15px;
}
.main-nav-ul-middle {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid #d0d0d0;
    font-size: 16px;
    font-weight: 600;
}
.main-nav-ul-last {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid #d0d0d0;
}
.main-nav-ul li,
.main-nav-ul-top li,
.main-nav-ul-last li{
    display: flex;
    cursor: pointer;
    padding: 3px 0px;
}

li {
    margin: 10px 0;
    font-size: 18px;
}
.main-nav-ul-last li{
   font-size: 15px;
    align-items: center;
}
.success-heading{
    padding: 5px 30px;
    font-weight: 600;
    color: black;
    width: fit-content;
}
.account-setting-heading{
    padding: 5px 30px;
    font-weight: 600;
    color: black;
    width: fit-content;
}
.success-message{
    margin: 0;
    padding: 5px 30px;
    align-items: center;
}
.account-label{
    color: #333;
    font-size: 14px;
}
.shippingCheckbox-label{
    color: #333;
    font-size: 14px;
    text-align: center;
}
.account-input{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 10px;
}
.shippingCheckbox-input{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 10px;
}
.account-subhead{
    margin: 0;
    padding: 5px 30px;
    color: grey;
    font-size: small    ;
    width: fit-content;
}
.discard-btn{
    background: linear-gradient(180deg, #AFAFAF 0%, #AFAFAF 0%, #818181 100%, #818181 100%);
    color: #fff;
    padding: 7px 30px;
    border-radius: 4px;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.5s ease;
}
.account-save-btn{
    background: linear-gradient(180deg, #c00000 0%, #c00000 0%, #a00000 100%, #a00000 100%);
    color: #fff;
    padding: 7px 30px;
    border-radius: 4px;
    border: 1px solid #bc0000;
    cursor: pointer;
    transition: all 0.5s ease;
}
.discard-btn:hover{
    background: #fff;
    color: grey;
}
.account-save-btn:hover{
    background: #fff;
    color: #bc0000;
}
.log-subhead{
    color: grey;
    font-size: small    ;
    width: fit-content;
}
.account-login{
    margin: 0;
    color: #4068d0;
    font-size: large    ;
    width: fit-content;
}

@media(max-width:1600px){
    .productblock-grid{
        margin-left: 8px;
    }
}

@media(max-width:1500px){
    .productblock-grid{
        margin-left: 5px ;
    }
    .footer_images-bottom {
        width: 60px;
    }
}
@media(max-width:1440px){
    .pp-price-box2 {
        right: -50px;
    }
    .pp-price-box {
        right: -50px;
    }
    .pp-box2-title {
        font-size: 20px;
    }
}

@media(max-width:1360px){
    .product-box{
        padding: 8px;
    }
    .pp-price-box {
        width: 225px;
    }
    .pp-price-box2 {
        width: 225px;
    }
}
@media only screen and (min-width: 1024px) and (min-height: 1366px){
    .sub-header-rightlinks {
        font-size: 12px;
    }
    .sub-header-links {
        font-size: 12px !important;
    }
    .models-button {
        width: 200px!important;
        padding: 5px 10px;
    }
    .acsry-models-button {
        width: 200px!important;
        padding: 5px 10px;
    }
    .productblock-grid{
        grid-template-columns: repeat(3,1fr);
    }
    /*.search-by-category-text {*/
    /*    font-size: 10px;*/
    /*}*/
    /*.models-button {*/
    /*    width: 250px;*/
    /*}*/
    .pp-box2-title {
        font-size: 15px;
    }
    .pp-box1-simg {
         height: 35px;
    }
    .pp-box1-img {
        height: 110px;
        margin-bottom: 15px;
    }
    .ppdetail-grid {
        grid-template-columns: repeat(4,1fr);
    }
    .pp-price-box {
        width: 200px;
    }
    .pp-price-box2 {
            width: 200px;
        }
    .pp-box {
        padding: 0px 70px;
    }

    .pp-productDetail-main-box {
        margin: 10px 70px;
    }
    .pp-table-box {
        width: 90%;
        padding: 0px 35px;
    }
    .pp-table-box2 {
        width: 90%;
        padding: 0px 35px;
    }
    .Product-detail-heading {
        padding: 0px 70px;
    }
    .Product-listing-breadcrum {
        padding: 0px 70px;
    }
    .productDetail-middle-section {

        margin: 10px 70px;
    }
    .endbar-topsection-input2 {
        width: auto;
        padding: 5px 7px;
    }
    .endbar-topsection-input {
        width: auto;
        padding: 5px 7px;
        margin-left: 5px;
    }
    .middlebar_red-btn{
        padding: 3px 5px;
    }
    .text-below-box {
        padding: 0px 70px;
    }
    .productDetail-main-box {
        margin: 10px 70px;
        border-top: 1px solid #d0d0d0;
    }
    .productdetail-grid {
        grid-template-columns: repeat(4,1fr);
    }
    .box-one-text {

        font-size: 14px;
    }
    .topSection_main-padding {
        padding: 0px 65px;
    }
    .or-image {
        left: -20px;
    }
}
@media(max-width:1280px){
    .endbar-topsection-input{
        margin-left: 15px;
        width: 115px;
        padding: 5px;
    }
    .endbar-topsection-input2{
        margin-left: 15px;
        width: 140px;
        padding: 5px;
    }
    .product-box{
        padding: 3px;
    }
    .search-by-category-text{
        font-size: 14px;
    }
    .sub-header-links{
        margin-right: 15px;
        font-size: 16px;
    }
    .change-vehicle {
        margin-left: 2px;
    }
    .vm-leftside-heading{
        font-size: 14px ;
    }
    .box-one-text {
        margin-top: 30px;
    }
    .productblock-grid {

        grid-template-columns: repeat(3,1fr);;
    }
    .models-button {
        width: 250px;
    }
    .acsry-models-button {
        width: 250px;
    }
    .footer_images-bottom{
        width: 50px;
    }

}

@media(max-width:1024px){
    .acsry-text-bottom {
        padding: 0px 45px;
    }
    .acc-banner {
        padding: 0px 40px;
    }
    .productDetail-middle-section {
        width: 90%;
        margin: 10px 55px;
    }
    .header{
        padding: 20px 35px;
    }
    .topsextion_heading1{
        padding: 3px 10px;
    }
    .logo-img {
        height: 35px;
    }
    .product-box {
        padding: 7px;
    }
    .footer_images-bottom {
        width: 55px;
        height: 20px;
        margin-right: 5px;
    }
    .footer_images-top {
        width: 120px;
    }
    .or-image {
        left: -20px;
    }
    .models-button {
        padding: 5px 10px;
    }
    .acsry-models-button {
        padding: 5px 10px;
        width: 220px;
    }
    .sub-header {
        padding: 10px 35px;
    }
    .main-padding{
        padding: 0px 35px;
    }
    .genuine-parts-para{
        padding: 0px 115px;
    }
    .wholesale-para {
        padding: 0px 170px;
    }
    .search-placeholder{
        width: 250px;
    }
}
@media(max-width:768px){
    .header {
        padding: 20px 10px;
    }
    .logo-img {
        height: 35px;
    }
    .search-placeholder {
        width: 135px;
    }
    .left-row {
        width: 175px;
    }
    .images-product_box {
        width: 100px;
        height: 80px;

    }
    .sub-header-rightlinks {
        font-size: 9px;
    }
    .sub-header-links {
        font-size: 9px;
    }
    .models-button {
        width: 175px;
    }
    .acsry-models-button {
        width: 175px;
    }
    .productblock-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .search-by-category-text {
        font-size: 10px;
    }
    .genuine-parts-heading {
        top: -225px;
    }
    .footer_images-top {
        width: 95px;
    }
    .box-one-text {
        margin-top: 45px;
        text-align: center;
        font-size: 14px;
    }

    .models-button {
        padding: 5px 35px;
    }
    .acsry-models-button {
        padding: 5px 35px;
    }
    .genuine-parts-para {
        padding: 0px 45px;
    }
    .wholesale-para {
        padding: 0px 115px;
    }
    .topSection_main-padding {
        padding: 0px 30px;
    }
    .or-image {

        top: -7px;
        left: -20px;

        border: 4px solid #003566;
        border-radius: 50%;
        font-size: 10px;
    }
    .header-select-vehicle {
        display: none;
    }

    .logo-img {
        height: 25px;
    }
    .blue-text {
        font-size: 12px;
    }
    .header-right-box-text{
        font-size: 9px;
    }
    .margin-between-boxes{
        margin-right: 5px;
    }
    .topsextion_heading2 {
        width: 50%;
        background: #DCF2FF;
        padding: 3px 10px;
    }
}
/*@media(max-width:768px) {*/
/*    */
/*}*/
@media(max-width:480px) {

    .wholesale-heading{
        font-size: 30px;
        top: -50px;
    }
    .wholesale-para {
        padding: 0px 10px;
        top: 45px;
    }
    .genuine-parts-heading {
        top: -245px;
        font-size: 25px;
    }
    .genuine-parts-para {
        padding: 0px 10px;
        line-height: 1;
        font-size: 14px;
        top: -160px;
    }
    .product-box {
        padding: 4px;
    }
    .main-padding{
        /*    templateRows={{ base: 'repeat(2, 1fr)', lg: 'repeat(1, 1fr)' }}*/
        /*templateColumns={{ base: 'repeat(1, 1fr)', lg: 'repeat(5, 1fr)' }}*/
        padding: 0px;
    }

    .grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .item {
        /*border: 1px solid #000;*/
        padding: 1rem;
        text-align: center;
    }
    .title-product_block {

        font-size: 12px;
    }
    .pp-title-product_block {

        font-size: 12px;
    }
    .images-product_box {
        width: 80px;
        height: 55px;
    }
    .product-box{

    }
    .left-row{
        display: none !important;
    }
    .main-header{
        display: none !important;
    }
    .mobile-header{
        display: block !important;
    }
    .main-footer{
        display: none !important;
    }
    .mobile-footer{
        display: block !important;
    }
    .section-first{
        order: 2;
    }
    .section-second{
        order: 1;
    }
    .footer_images-top {
        width: 150px;
    }
    .footer_images-bottom_mobile {
        width: 55px;
        height: 20px;
        margin-right: 5px;
    }
    .productblock-grid{
        grid-template-columns: repeat(3,1fr);
        margin-left: 0px;
    }
    .model-rows{
        /*templateColumns="repeat(4, 1fr)"*/
        grid-template-columns: repeat(2,1fr);

    }
    .models-button {
        padding: 5px 35px;
    }
    .acsry-models-button {
        padding: 5px 35px;
    }
    .carousel.carousel-slider{
        height: auto;
    }
    .topsextion_heading1{
        width: 100%;
    }
    .topsextion_heading2{
        width: 100%;
    }
    .mobile_topsection-container{
        border-top: none;
    }
    .mobile-top-section{
        display: block !important;
    }
    .main-top-section{
        display: none !important;
    }
    .section_mainPadding {
        padding: 40px 20px;
    }
    .signUp-box{
        display: block !important;
        padding: 0px;
    }
    .box1{
        padding: 10px;
    }
    .box2{
        padding: 10px;
    }
    .returning-form{
        padding: 25px 10px;
        width: 315px;
    }
    .returning-form2{
        padding: 25px 10px;
        width: 315px;
    }
    .Vm-top-section-img2{
        display: none !important;
    }
    .Vm-top-section-img1 {
        height: 115px;
    }
    .middlebar-res{
        display: block !important;
    }
    .middlebar_search-placeholder {
        width: 215px;
    }
    .menu-show{
        /*display: block !important;*/
        justify-content: space-between;
        display: flex !important;
    }
    .Vm-middle-section{
        display: none !important;
    }
    .productDetail-middle-section{
        display: none !important;
    }
    .section-headings {
        font-size: 20px;
    }
    .mobile-VM-topsection-lowerpart{
        display: block !important;
    }
    .Product-listing-breadcrum {
        padding: 0px 25px;
    }
    .Product-listing-heading {
        padding: 0px 25px;
    }
    .Product-detail-heading {
        padding: 0px 25px;
    }
    .text-below-box{
        padding: 0px 18px;
    }
    .list-category{
        padding: 5px 0px;
        font-size: 15px;
    }
    .list-grid {
        margin-left: 7px;
    }
    .list-category-box{
        width: 290px;
    }
    .category-list-ul{
        padding: 0px;
        margin: 0;
    }
    .bussiness-box1 {
        padding: 0px;
    }
    .bussiness-form{
        width: 270px;
    }
    .track-form{
        width: 270px;
    }
    .bussiness-input{
        width: 100%;
        padding: 8px 0px ;
    }
    .bussiness-select{
        width: 270px;
    }
    .bussiness-input2 {
        width: 100%;
        padding: 8px 0px ;
    }
    .productDetail-main-box{
        margin: 10px;
    }
    .pp-productDetail-main-box{
        margin: 10px;
    }
    .detail-box2-subheading{
        display: none!important;
    }
    .productDetail-box1{
        width: 30%;
    }
    .productDetail-box1-img{
        height: 75px;
    }
    .productDetail-box2-flex {
        display: block !important;
    }
    .product-price-box{
        position: relative;
    }
    /*.pp-price-box{*/
    /*    position: relative;*/
    /*    width: 250px;*/
    /*    right: -30px;*/
    /*}*/
    .pp-price-box {
        position: relative;
        /* width: 250px; */
        right: -10px;
        width: auto;
        margin: 5px;
    }
    .productDetail-box2-heads{
        padding: 0px;
    }
    .detail-box2-title {
        font-size: 14px;
    }
    .detail-box2-heading1{
        font-size: 12px;
    }
    .detail-box2-partno{
        margin-left: 5px;
    }
    .productdetail-grid {
        grid-template-columns: repeat(3,1fr);
    }
    .ppdetail-grid {
        grid-template-columns: repeat(2,1fr);
    }
    .models-button {
        width: 150px;
    }
    .acsry-models-button {
        width: 150px;
    }
    .cart-main-padding {
        padding: 0px 10px;
    }
    .cart-main-padding{
        grid-template-columns: 100%;
    }
    .detail-cartbox-show{
        display: block !important;
    }
    .policy-left-row{
        display: none !important;
    }
    .p-grid {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 100%;
    }
    .policy-grid{
        padding: 0px 10px;
    }
    .policy-box {
        padding: 15px;
    }
    .items-listr{
        display: block;
    }
    .tracking-box {
        padding: 20px;
    }
    .track-input{
        width: 100%;
    }
    .forms-box{
        display: block;
    }
    .bussiness-checkbox{
        justify-content: center;
    }
    .product-listing-left-row{
        display: none !important;
    }
    .category-list-item{
        font-size: 15px;
        margin: 0;
    }
    .success-heading {
        padding: 5px 20px;
    }
    .success-message{
        padding: 5px 20px;
    }
    .success-padding{
        padding: 0;
    }
    .acctSet-inputbox{
        display: block;
    }
    .account-input{
        margin-top: 5px;
        width: 100%;
    }
    .shippingCheckbox-input{
            margin-top: 5px;

        }
    .shippingCheckbox-label{
        text-align: left;
    }

    .success-grid {
        padding: 0px 5px;
        margin-top: 20px;
        grid-template-columns: 100%;
    }
    .account-setting-heading{
        padding: 0px;
    }
    .account-subhead{
        padding: 0px;
    }
    .account-sectionbox {
        margin-left: 0px;
    }
    .account-edit-btn {
        float: right;
        position: absolute;
        top: -15px;
        right: -5px;
    }
    .account-inner-box{
        display: block;
        position: relative;
    }
    .account-sectionbox {
        padding: 5px 20px;
    }
    .form-box-width{
        width: 270px;
    }
    .acctSet-butbox{
        margin: 10px 10px 10px 35px;
    }

    .discard-btn{
        padding: 7px 15px;
    }
    .account-save-btn {
        padding: 7px 15px;
    }
    .returning-input{
        padding: 8px 0px;
    }
    .pp-box{
        padding: 0;
    }
    .pp-table-box {
        width: 100%;
        padding: 0px;
    }
    .pp-table-box2 {
        width: 100%;
        padding: 0px;
    }
    .pp-price-box2{
        display: none !important;
    }
    .pp-productDetail-innerbox{
        display: block !important;
    }
    .pp-box1{
        width: 100%;
    }
    .pp-box2{
        width: 100%;
        padding: 0px;
    }
    .pp-productDetail-innerbox {
        padding: 0px;
    }
    .pp-images-product_box {
        padding: 20px;
    }
    .pp-horizontal-listbox {
        padding: 0px;
    }
    .pp-table{
        margin-left: 0px;
    }
    .pp-table2{
        margin-left: 0px;
    }
    .pp-question {
        padding: 10px;
    }
    .some-text{
        padding: 0px 10px;
    }
    .modalContent {
        padding: 160px 0px;
    }
    .chakra-modal__close-btn {
        right: 10px;
    }
    .box-one-text {
        margin-top: 25px;
    }
        .or-image {
        left: -35px;
    }
    .pp-checkbtn{
        width: 110px;
        font-size: 12px;
        padding: 8px 10px;
        margin-right: 15px;
    }
    .endbar-topsection-input2{
        margin-left: 0px;
        margin-top: 15px;
    }
    .add-new-vehicle {
        padding: 5px 10px;
    }
    .footer-padding {
        padding: 0px;
    }
    .acsry-productblock-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .acc-banner {
        padding: 0px 7px;
        margin-top: 10px;
    }
    .acc-banner img {
        height: 150px;
        width: 100%;
        margin-left: 10px;
    }
}
